// react: header
.header 
  .container
    .row
      .icon.col-md-2
      ul.menu.col-md-8
        li.active home
        li tour
        li business
        li research
        li community
        li support
      .right.col-md-2
        .login 
          .btn.btn-default login
        .sign-up 
          .btn.btn-primary sign up 


.site-main
  .jumbotron
  .actions
    .container-fluid
      .row
        .col-xs-6
          a.apps
            h4 Download apps
            span Work with teams, any time any where
        .col-xs-6
          a.news
            h4 Recent changes
            span 15/07/20: 全新全局搜索上线！只有想不到，没有搜不到
        .col-xs-6
          a.article
            h4 You could be that efficient
            span Watch and learn from Jnus
            i.play-white
        .col-xs-6
          a.join
            h4 Industry research
            span Learn our contributions to industries
  .features
    .container.text-center
      h1 Teambition provides everything you need
      .row
        each i,j in new Array(8)
          .col-xs-4.col-sm-3
            .feature-icon(style={"background-position":(j*-44)+"px 0"})
            h4 Project-focused
            span Start off a Teambition project
  .cases
    .container.text-center
      h1 Teambition has been used in 
        br
        | 1,000,000+ projects across 10+ industries
      .row
        .col-sm-5
          a
            img(src="https://dn-st.b0.upaiyun.com/site/v0.4.x/images/index/case-teambition@2x.jpg")
            p
              i.play-white
              | Perfect to Scrum
        .col-sm-7
          each i,j in new Array(6)
            a
              img(src="https://dn-st.b0.upaiyun.com/site/v0.4.x/images/index/case-ad@2x.jpg")
              p Advertisement
  .business
  .media
  .enjoy
  .support