// react: header
.header 
  .container
    .row
      .icon.col-md-2
      ul.menu.col-md-8
        li.active home
        li tour
        li business
        li research
        li community
        li support
      .right.col-md-2
        .login 
          .btn login
        .sign-up 
          .btn sign up 

