// react: BrowseHappy
.browsehappy
  p
    img(src="http://meiqia-s.b0.upaiyun.com/appsite_static/img_IE/icon_scream_cat.png")
    | 喵喵喵，你的网页浏览器已经
    strong 过期啦
    | ！ 请
    a(href="http://browsehappy.com/") 升级你的浏览器
    | 以改进网页浏览体验吧。



// react: Header
.header
  .inr
    a 美洽
    nav
      a 首页
      a 美洽是什么
      a 美洽是什么
      a 美洽是什么
      a 美洽是什么
      a.sign 注册
      a.sign 登录

 