// react: header
.header 
  .container
    .row
      .icon.col-md-2
      ul.menu.col-md-8
        li.active home
        li tour
        li business
        li research
        li community
        li support
      .right.col-md-2
        .login 
          .btn.btn-default login
        .sign-up 
          .btn.btn-primary sign up 


.site-main
  .jumbotron
  .actions
    .container-fluid
      .row
        .col-xs-6
          a.apps
            h4 Download apps
            span Work with teams, any time any where
        .col-xs-6
          a.news
            h4 Recent changes
            span 15/07/20: 全新全局搜索上线！只有想不到，没有搜不到
        .col-xs-6
          a.article
            h4 You could be that efficient
            span Watch and learn from Jnus
            i.play-white
        .col-xs-6
          a.join
            h4 Industry research
            span Learn our contributions to industries
  .features
  .cases
  .business
  .media
  .enjoy
  .support