// react: BrowseHappy
.browsehappy
  p
    img(src="http://meiqia-s.b0.upaiyun.com/appsite_static/img_IE/icon_scream_cat.png")
    | 喵喵喵，你的网页浏览器已经
    strong 过期啦
    | ！ 请
    a(href="http://browsehappy.com/") 升级你的浏览器
    | 以改进网页浏览体验吧。



// react: Header
.header
  .inr
    a 美洽
    nav
      a 首页
      a 美洽是什么
      a 美洽是什么
      a 美洽是什么
      a 美洽是什么
      a.sign 注册
      a.sign 登录

// react: Balloon
.balloon
  a
    img(src="//meiqia-s.b0.upaiyun.com/appsite_static/balloon-float.png")
  img(src="//meiqia-s.b0.upaiyun.com/appsite_static/btn-close.png")


// react: SectionHighLight

.section-high-light
  h1 美洽，连接你和你的顾客
  h2 实时在线的客户服务工具，可通过移动 App，手机网站，桌面网站，微信，微博，二维码等方式接入。