// react: header
.header 
  .icon 
  ul.menu
    li.active home
    li tour
    li business
    li research
    li community
    li support
  .right
    .login 
      .btn login
    .sign-up 
      .btn sign up 

