* {
  transition: all 0.5s;
}
*{
  /*border: 1px solid rgb(231, 231, 231);*/
}
a:active, a:hover {
  outline: 0;
  text-decoration: none;
}
.header{
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ededed;
  opacity: .95;
  line-height: 50px;
  font-size: 16px;
  .icon{
    background-image: url(https://dn-st.b0.upaiyun.com/site/v0.5.0/images/global/logo@2x.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    overflow-y: visible;
    background-size: 150px 20px;
    background-position-y: 14px;
  }
  ul.menu{
    text-transform: capitalize;
    li{
      display: inline-block;
      margin-left: 35px;
      &.active{
        color: #03a9f4;
      }
    }
  }
  .login, .sign-up {
    margin-left: 10px;
    display: inline;
    .btn{
      text-transform: capitalize;
      color:#4d4d4d;
      border: #c2c2c2 solid 1px;
      border-radius: 2px
    }
  }
  .sign-up .btn{
    background-color:rgb(3, 169, 244);
    color: white;
  }
}
.site-main{
  margin-top: 50px;
  .jumbotron{
    background-image: url(https://dn-st.b0.upaiyun.com/site/v0.4.x/images/index/hero.jpg);
    min-height: 700px;
    margin-bottom: 0;
  }
  .actions{
    
    .row>*{
      padding-left: 2px;
      padding-right: 2px;
      margin-top: 4px!important;
    }
    a{
      background-clip: padding-box;
      cursor: pointer;
      display: block;
      height: 200px;
      padding: 1px;
      background-position: center 20px;
      background-size: 198px auto;
      background-repeat: no-repeat;
      text-align: center;
      background-color: #ebebeb;
      color: #000;
      h4{
        margin-top: 130px;
      }
    }
    .apps{
      background-image: url(https://dn-st.b0.upaiyun.com/site/v0.4.x/images/index/action-apps@2x.png);
    }
    .news{
      background-image: url(https://dn-st.b0.upaiyun.com/site/v0.4.x/images/index/action-update@2x.png);
    }
    .article{
      background-image: url(https://dn-st.b0.upaiyun.com/site/v0.4.x/images/index/action-case.jpg);
      background-position: top center;
      background-size: cover;
      color: #fff;
      i{
        background-image: url(https://dn-st.b0.upaiyun.com/site/v0.4.x/images/index/play-white@2x.png);
        width: 60px;
        height: 60px;
        display: block;
        background-size: cover;
        cursor: pointer;
        opacity: .75;
        margin: -120px auto auto auto;
        z-index: 2;
      }
    }
    .join{
      background-image: url(https://dn-st.b0.upaiyun.com/site/v0.4.x/images/index/action-research@2x.png);
      background-size: 77px 80px;
      background-position: center 30px;
    }
  }
  .features{
    h1{
      margin-bottom: 50px;
      margin-top: 70px;
    }
    .row>*{
      margin-bottom: 68px;
    }
    .feature-icon{
      background-image: url(https://dn-st.b0.upaiyun.com/site/v0.4.x/images/index/feature-icon@2x.png);
      width: 44px;
      height: 44px;
      margin: 0 auto 20px;
      background-size: 352px 44px;
    }
    span{
      display: inline-block;
      height: 40px;
      color: gray;
      max-width: 160px;
    }
  }
}


